# ==============================================================================
# AMBIENTI VIRTUALI E WORKSPACE TEMPORANEI
# ==============================================================================
venv/
.venv/
work/
